 # MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/efootball_league

# Server Port
PORT=5000

# Environment
NODE_ENV=development

# For production, use your actual MongoDB Atlas connection string
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/efootball_league